/* Importador */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600;1,900&display=swap');

/* Selecctor Universal */
*{
    /* font-family: 'Poppins'; */
    margin: 0;
    padding: 0;
}

/* Selecctor de etiquestas */

h1{
    font-family: 'Poppins';
    font-weight: 900;
    color: yellowgreen;
}

h2{
    color: red;
}

/* Selecctor de ID */
#site_text{
    background-color: black;
}

/* Selecctor de Clases */
.subtitles{
    /* font-family: 'Poppins'; */
}

/*Selecctor por Atributos */
input[disabled] {
    background-color: aquamarine;
}
/* Selector por id - Boton Enviar */
#btn_send{
    margin: 50px;
    padding: 50px;
}
/* Selector por pseudoclase*/
#btn_send:hover{
    background-color: aquamarine;
    color: orange;
    font-size: 20px;
}

#papa{
    margin-left: 50px;
    border: 2px double red;
    border-radius: 10px;
}

.hermanos{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}

#nh_uno{
    color: blue;
}

/* Selector descendente hijo */
#papa > .hermanos > #nh_uno{
    color: orange;
}

/*Selecctor descendente */
#papa .nieto{
    color: red;
}

span{
    color: #00f;
}

#title_box{
    color: #000;
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    text-align: center;
    padding-left: 20px;
    margin: 50px;
    border: 1px dashed #000;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px blue;
    word-spacing: 15px;
    letter-spacing: 5px;
    font-size: 20px;
}
#box_father{
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 20px;
    background-image: url(https://pbs.twimg.com/profile_images/610526746195140609/nIn_AbaP_400x400.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Media querys entre 800 y 1280 */
@media (min-width: 800px) and (max-width:1280px){
    body{
        background-color: red;
    }
    h1{
        text-align: center;
    }
}

/* Media querys entre 800 y 1280 */
@media (max-width:1280px){
    body{
        background-image: url(https://pbs.twimg.com/profile_images/610526746195140609/nIn_AbaP_400x400.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}